.body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.data {
  display: flex;
  border: 2px solid rgb(226, 244, 188);
  padding: 10px;
  margin: 20px;
  border-radius: 40px;
}

.text {
  color: rgb(226, 244, 188);
  font-size: 30px;
  padding: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
