.head {
  display: flex;
  justify-content: center;
  font-size: 60px;
  font-weight: bolder;
  color: rgb(226, 244, 188);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration: solid;
  text-transform: uppercase;
  text-shadow: 4px 4px 2px rgba(247, 67, 67, 0.6);
  padding: 20px;
}
